body{
    font-family: 'Open-sans', sans-serif;
    font-size: 17px;
    line-height:1.5em;
    padding: 0;
}

#info .vertical { 
            border-left: 6px solid black; 
            height: 200px; 
            position:absolute; 
            left: 50%; 
        } 


/* SHOWCASE */
#showcase{
    height:540px;
    background: url('../img/info-bg.jpg') no-repeat center center;
    border-bottom: 1px solid #56a79a;
    margin-bottom: 30px;
}
#showcase .row{
    height: 600px;
}

#showcase h1{
    font-size: 40px;margin: 0;
    padding-bottom: 20px;
}

#showcase p{
    color:#ccc;
    margin: 0;
}

#showcase .showcase-content{
    background-color : ;
    color:#fff;
    margin-left: 220px;
    padding : 40px;
 
}

#showcase button{
    background-color: skyblue;
}



/* INFO */
#info{
    margin-left: 60px;
}
#info .button{
    background-color: white;
  border: 1px solid;
  color: black;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}


#info .primary-text{
    font-size: 30px;
    color: skyblue;
}
#info .size{
    padding: 30px;
    margin-left:;
}
.price {
  list-style-type: none;
  border: 1px solid #eee;
  margin: 0;
  padding: 0;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.price:hover {
  box-shadow: 0 8px 12px 0 rgba(0,0,0,0.2)
}

.price .feature-header {
  background-color: #111;
  color: white;
  font-size: 20px;
}

.price li {
  border-bottom: 1px solid #eee;
  padding: 20px;
  text-align: center;
}

.price .grey {
  background-color: #eee;
  font-size: 20px;
}

#feature{
    background: url('../img/info-bg.jpg') no-repeat;
}
#feature h2{
    margin-left: 200px;
}
#feature .lline
{
 color: ghostwhite;
}

#feature .back{
    background-color: white;
    padding: 20px;
   margin:;
}
#feature .secondline
{
    margin-left:200px ;
}
#feature .feature-block {
  background-color: #fff;
  border-radius: 2px;
  padding: 15px;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
  margin-bottom: 15px;
  transition:all ease .5s
}


.fb-icon.color-info {
  background-color: #5bc0de;
  color: #fff;
}
.fb-icon.color-warning {
  background-color: #eea236;
  color: #fff;
}
.fb-icon.color-success {
  background-color: #5cb85c;
  color: #fff;
}
.fb-icon.color-danger {
  background-color: #d9534f;
  color: #fff;
}

#company .line h1{
    text-align: center;
}

#company{
    margin: 20px;
}